form {
    margin: 0 auto; /* Define margem superior e inferior como 0 e margem esquerda e direita como automático */
    width: 20%; /* Define a largura do formulário */
    margin-top: 15%;
}

/*.form-control{
    width: 300px;
}*/

.table {
    margin: 30px;
    width: 95%;
}

.actions-button{
    display: flex;
    justify-content: space-around;
}